# Ignore everything by default
*

# Allow specific files
!.gitignore
!requirements.txt
!main.py
!railway.toml
!dockerfile
!.dockerignore
!Procfile

# Allow everything in the src and data folder
!src/
!src/**
!data/
!data/**

# But ignore __pycache__ inside src
src/__pycache__/
.vercel

# Ignore environment files
.env
.env.*
